.cart{
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    height: 90%;
    margin-top: 20px;
}

.cartItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}